@import 'base/*';

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E0AC03;
  border-radius: 20px;
}

[class *= "__container"], .container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

@import 'ui/*';
@import 'blocks/*';