@import 'base/*';

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E0AC03;
  border-radius: 20px;
}

[class *= "__container"], .container {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.certif-icon {
  font-size: 24px;
  color: #0077FF
}

.page-interview {
  .container:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.page-vacancie {
  .container:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@import 'ui/*';
@import 'blocks/*';