.ava {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #969696;
  border-radius: 5px;
  font-size: 48px;
  color: white;

  img {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  i {
    font-size: .5em;
    color: inherit;
    translate: 1px 1px;
  }
}