.social {
  font-size: 24px;
  color: #000000;
  transition: .3s ease;
  display: block;

  &.--white {
    color: white;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #969696;
    }
    &.--white:hover {
      color: #dadada;
    }
  }
}