.acc-gen-options {
  display: flex;
  flex-direction: column;
  padding: 25px 22px;
  gap: 16px;
  background: white;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  min-height: 360px;
  overflow-y: auto;

  &__item {
  }
}