.candidates-list {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__list {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &>.btn {
    margin-top: 8px;
  }
}