.candidates-section {
  padding: 75px 0;

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 44px;

    @media (max-width: 940px) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 940pxZ) {
      
    }
  }

  .candidates-list {
    width: max-content;

    @media (max-width: 740px) {
      width: auto;
    }
  }

  .candidates-tab:not(.--choosed) {
    display: none;
  }
}
