.clue-block {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(184, 184, 184, 0.25);
  border-radius: 20px;

  i {
    font-size: 24px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #969696;
  }
}