.nav {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: .5;
    transition: .3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }

  &.--row {
    flex-direction: column;
  }

  @media (max-width: 540px) {
    flex-direction: column;
    text-align: left;
  }
}