.prob-success-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #282A2C;
  }
  .progress {
  }
  .btn {
    min-width: 200px;
    align-self: center;
  }
  
}