.search-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  color: #000000;

  i {
    font-size: 24px;
    animation: loader 1.6s linear infinite;
  }

  p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}