.vacancy-subform {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__map-wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .btn {
      align-self: flex-start;
    }

    .map {
      height: 172px;
      width: 100%;
    }
  }

  &__requires {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__requires-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  &__requires-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}