.vacancie-council {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 10px;
    background: #F6F6F6;
    border-radius: 12px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #969696;
  }
}
